*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
*.apk
*.aab
*.jks
*.keystore

# Superpowers
.superpowers/
git-cred.sh
git-push.sh\npush-helper.sh
