<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".StudentHubApp"
        android:allowBackup="true"
        android:label="StudentHub"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentHub">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.StudentHub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".notification.ReminderReceiver"
            android:exported="false" />
    </application>

</manifest>
